<div class="container-fluid bg-base p-3">
    <div class="bg-light p-3 shadow rounded">
        <div class="row">
            <h3>Level: 1</h3>
            <hr />
            <div class="border rounded p-2">
                <form action="/" method="post">
                    <div class="pb-2 mb-2 border-bottom">
                        <!-- <input type="email" class="form-control" id="q1" placeholder="answer the question"> -->
                        <label for="q1" class="form-label">Q 1. Here lies the questions in a sequence from db.?</label>
                        <div class="form-check" id="q1">
                            <input class="form-check-input" type="radio" name="q1" id="option1">
                            <label class="form-check-label" for="option1">
                                Option - 1
                            </label>
                        </div>
                        <div class="form-check" id="q1">
                            <input class="form-check-input" type="radio" name="q1" id="option2">
                            <label class="form-check-label" for="option2">
                                Option - 2
                            </label>
                        </div>
                    </div>
                    <div class="pb-2 mb-2 border-bottom">
                        <label for="q2" class="form-label">Q 2. Here lies the questions in a sequence from db.?</label>
                        <div class="form-check" id="q2">
                            <input class="form-check-input" type="radio" name="q2" id="option1">
                            <label class="form-check-label" for="option1">
                                Option - 1
                            </label>
                        </div>
                        <div class="form-check" id="q2">
                            <input class="form-check-input" type="radio" name="q2" id="option2">
                            <label class="form-check-label" for="option2">
                                Option - 2
                            </label>
                        </div>
                    </div>
                    <div class="pb-2 mb-2 border-bottom">
                        <!-- <input type="email" class="form-control" id="q1" placeholder="answer the question"> -->
                        <label for="q3" class="form-label">Q 3. Here lies the questions in a sequence from db.?</label>
                        <div class="form-check" id="q3">
                            <input class="form-check-input" type="radio" name="q3" id="option1">
                            <label class="form-check-label" for="option1">
                                Option - 1
                            </label>
                        </div>
                        <div class="form-check" id="q3">
                            <input class="form-check-input" type="radio" name="q3" id="option2">
                            <label class="form-check-label" for="option2">
                                Option - 2
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn-md btn btn-secondary rounded-pill">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>